#user-list {
  display: flex;
  flex-wrap: wrap;

  .user-item {
    height: 210px;
    width: 260px;
    font-size: 14px;
    color: $black;
    margin: 10px;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;

    .header {
      background-color: $secondary-color;
      height: 90px;
      margin-bottom: 25px;

      .user-image {
        position: relative;
        left: 10px;
        top: 45px;
        height: 70px;
        width: 70px;
        background-size: 45px;
        border-radius: 40px;
      }

      .follow-button-container {
        position: relative;
        top: 10px;
        margin-left: 150px;
        button {
          height: 27px;
          width: 90px;
          font-size: 12px;
        }
      }
    }
    .user-data {
      padding: 10px;

      .user-name {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}
