@import "PostModal";
@import "UserDropdown";
#nav {
  height: $header-height;
  color: $secondary-color;
  background-color: $white;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  min-width: 500px;
  box-shadow: 0 1px 2px -2px #494949;
  border-bottom: 1px solid rgba(0,0,0,0.25);

  .link-container {
    display: flex;
    width: 100%
  }

  div {
    width: 33.33%;
    line-height: 47px;

    i {
      font-size: 30px;
      vertical-align: middle;
    }
  }

  .left {
    text-align: left;
    margin-left: 40px;

    a {
      .home {
        width: 47px;
        height: 45px;
        border-bottom: 2px solid transparent;
        text-align: center;
      }
      &.active {
        .home {
          border-bottom: 2px solid $secondary-color;
        }
      }
    }
  }

  .center {
    text-align: center;
    .brand-icon {
      height: 22px;
      width: 22px;
      margin: 13px auto;
      background-image: $logo-blue;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .right {
    text-align: right;
    margin-right: 40px;

    i {
      margin-right: 20px;
      cursor: pointer;
    }

    button {
      font-size: 14px;
      width: 70px;
      height: 35px;
      color: $white;
      background-color: #4AB3F4;
      border-radius: 20px;
      cursor: pointer;
      outline: none;
      border: none;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}
