@import "PostModal";
@import "UserDropdown";
#nav {
  height: $header-height;
  color: $secondary-color;
  background-color: $white;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  min-width: 500px;
  box-shadow: 0 1px 2px -2px #494949;
  border-bottom: 1px solid rgba(0,0,0,0.25);

  .link-container {
    display: flex;
    width: auto;
    margin: 0 40px;
  }

  .left, .center, .right {
    width: 33.33%;

    i {
      font-size: 30px;
      vertical-align: middle;
      line-height: 47px;
    }
  }

  .left {
    text-align: left;

    a {
      .home {
        width: 47px;
        height: 45px;
        border-bottom: 2px solid transparent;
        text-align: center;
      }
      &.active {
        .home {
          border-bottom: 2px solid $secondary-color;
        }
      }
    }
  }

  .center {
    text-align: center;
    .brand-icon {
      height: 20px;
      width: 20px;
      margin: 13px auto;
      background-image: $logo-blue;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .right {
    text-align: right;
    justify-content: flex-end;
    display: flex;
    margin: auto;

    .user-image {
      cursor: pointer;
    }
  }
}
