#post-modal {
  top: 0;
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  #modal {
    position: relative;
    margin: auto;
    top: 20%;
    width: 590px;
    background-color: $white;
    border-radius: 6px;
    overflow: hidden;

    .title {
      font-size: 18px;
      padding: 12px;
      color: black;
      text-align: center;
      border-bottom: 1px solid #C3EAFE;
      font-weight: bold;
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 27px;
      color: #5B7182;
      line-height: 20px;
      padding: 10px;
      cursor: pointer;
    }

    .post-container {
      padding: 15px;
      background-color: #E6F5FF;
      box-sizing: border-box;
      text-align: right;
    }
  }
}
