#user-dropdown {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;

  #dropdown {
    position: absolute;
    top: 50px;
    right: 125px;
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: $tertiary-color;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    box-sizing: border-box;
    z-index: 1;
    color: #14171A;
    font-size: 14px;

    li {
      div {
        padding: 10px;
      }
      .user {
        font-size: 18px;
        font-weight: bold;

        .username {
          padding-top: 3px;
          font-size: 14px;
          color: #66757F;
        }
      }
     i {
          padding-right: 5px;
      }
    }
    .link {
      &:hover {
        background-color: $secondary-color;
        color: white;
      }
    }

    :after {
      bottom: 100%;
      right: 5%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: $tertiary-color;
      border-width: 10px;
      margin-left: -10px;
    }

    hr {
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      margin: 5px 0;
    }
  }
}
