#user-dropdown {
  position: relative;

  .dropdown {
    right: 10px;
    width: max-content;
    min-width: 160px;
    z-index: 2;

    li {
      div {
        padding: 10px;
      }
      .user {
        font-size: 18px;
        font-weight: bold;

        .username {
          padding-top: 3px;
          font-size: 14px;
          color: #66757F;
        }
      }
     i {
        padding-right: 5px;
      }
    }

    :after {
      bottom: 100%;
      right: 5%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: $white;
      border-width: 10px;
      margin-left: -10px;
    }
  }
}
