.follow-button-container {

  button {
    margin: 12px 0;
    height: 35px;
    width: 100px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: bold;
    outline: none;

    &.follow {
      background-color: $white;
      color: $secondary-color;
      border: 1px solid $secondary-color;
      &:hover {
        background-color: #EBF4FB;
      }
    }
    &.unfollow {
      background-color: #4AB3F4;
      color: $white;
      border: none;
      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}
