#homepage-user-data {
  display: inline-block;
  margin-right: 10px;
  width: 280px;
  height: 200px;
  background-color: $secondary-color;
  position: relative;
  text-align: left;
  .content {
    height: 110px;
    margin-top: 90px;
    background-color: $white;

    .user-image {
      position: absolute;
      top: 50px;
      left: 10px;
      border: 3px solid $white;
      height: 72px;
      width: 72px;
      border-radius: 50px;
    }
    #full-screen {
      z-index: 2;
    }
    .dropdown {
      z-index: 3;
      position: absolute;
      top: 120px;
      left: 10px;

      li {
        padding: 5px 15px;
      }

      :after {
        bottom: 100%;
        left: 20%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $white;
        border-width: 10px;
        margin-left: -10px;
      }

    }

    .account {
      position: absolute;
      left: 90px;
      margin-top: 10px;
      max-width: 185px;
      .name {
        font-size: 18px;
        font-weight: bold;
        color: $black;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .username {
        font-size: 14px;
        color: #969696;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    .user-data {
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 15px;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;

      .data {
        display: inline-block;
        margin-right: 20px;

        .title {
          font-size: 12px;
          color: #969696;
          font-weight: bold;
        }
        .count {
          font-weight: bold;
        }
      }
    }
  }
}
