#profile-feed {
  display: inline-block;
  width: 60%;
  min-width: 400px;
  vertical-align: top;

  .post-item, .user-item {
    background-color: $white;
  }

  #homepage-post-box {
    display: flex;
    padding: 10px;
    background-color: #E6F5FF;
    .post {
      display: inline-block;
      width: 90%;
      text-align: right;
    }
  }
}
