#profile-feed {
  display: inline-block;
  width: 60%;
  min-width: 400px;
  vertical-align: top;

  .post-item, .user-item {
    background-color: $white;
  }

  .list-end {
    background-color: $white;
    color: #5D5D5D;
    text-align: center;
    height: 60px;
    font-size: 14px;

    img {
      height: 20px;
      padding-top: 20px;
    }

    &.empty {
      height: 85px;
      div {
        padding-top: 5px;
      }
    }
  }

  .new-post-notification {
    background-color: #F2F6FA;
    border-top: 1px solid #E3E3E3;
    font-size: 14px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #F1F3F6;
    }
  }

  #homepage-post-box {
    display: flex;
    padding: 15px;
    background-color: #E6F5FF;
    border-bottom: 1px solid #E3E3E3;

    .user-image {
      margin-top: 4px;
    }
    .post {
      display: inline-block;
      width: 100%;
      text-align: right;
    }
  }
}
