#profile-card {
  display: inline-block;
  margin-right: 10px;
  width: 230px;
  height: 180px;
  background-color: $secondary-color;
  position: relative;
  text-align: left;
  .content {
    height: 100px;
    margin-top: 80px;
    background-color: $white;
    .image {
      background-color: $white;
      border-radius: 50%;
      height: 55px;
      width: 55px;
      position: absolute;
      top: 50px;
      left: 10px;
      text-align: center;
      font-size: 46px;
    }
    .account {
      position: absolute;
      left: 70px;
      margin-top: 5px;
      .name {
        font-size: 18px;
        font-weight: bold;
        color: $black;
      }
      .username {
        font-size: 14px;
        color: #969696;
      }
    }
    .user-data {
      position: absolute;
      bottom: 0;
      width: 230px;
      padding: 15px;
      box-sizing: border-box;

      .data {
        width: 50%;
        display: inline-block;
        .title {
          font-size: 12px;
          color: #969696;
          font-weight: bold;
        }
        .count {
          font-weight: bold;
        }
      }
    }
  }
}
