@import "HomepageUserData";
@import "ProfileUserData";
@import "ProfileFeed";

#user-home-page {
  margin-top: 47px;
  $break-width: 710px;
  padding: 10px;
  text-align: center;

  @media (max-width: $break-width) {
    #profile-card {
      width: 100%;
      min-width: 480px;
      margin-right: 0;
      margin-bottom: 10px;
    }
    #profile-feed {
      width: 100%;
      min-width: 480px;
    }
  }
}
