@import "HomepageUserData";
@import "ProfileUserData";
@import "ProfileFeed";
@import "ProfileHeader";

#user-home-page {
  margin-top: 47px;
  $break-width: 765px;

  .user-content {
    padding-top: 10px;
    margin: 0 20px;
  }

  @media (max-width: $break-width) {
    #homepage-user-data {
      width: 100%;
      min-width: auto;
      margin-right: 0;
      margin-bottom: 10px;
      .account {
        max-width: 100%;
      }
    }

    #profile-feed {
      width: 100%;
      min-width: auto;
    }
  }
}

#user-profile-page {
  margin-top: 47px;
  $break-width: 710px;
  $small-width: 520px;
  text-align: center;

  .user-content {
    padding-top: 10px;
    margin: 0 20px;
  }

  @media (max-width: $break-width) {
    #profile-header {
      height: 190px;
      .user-image {
        height: 140px;
        width: 140px;
      }
      .dropdown {
        top: 185px;
        left: 25px;
      }
      .links {
        margin-left: 170px;
      }
    }
    #profile-user-data {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }

    #profile-feed {
      width: 100%;
    }
  }

  @media (max-width: $small-width) {
    #profile-header {
      height: 140px;
      width: 100%;
      min-width: auto;

      .user-image {
        height: 80px;
        width: 80px;
        left: 10px;
      }
      .dropdown {
        top: 140px;
        left: 15px;

        :after {
          left: 30%;

        }
      }
      .links {
        margin-left: 100px;
        a {
          width: 60px;
        }
        .follow-button-container {
          right: 10px;
          button {
            width: 80px
          }
        }
      }
    }
    #profile-feed {
      width: 100%;
      min-width: auto;
    }
  }
}
