
#post-form {
  textarea {
    resize: none;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #99DAFD;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    margin-bottom: 6px;
    transition: 0.5s;
    overflow: hidden;

    &:focus {
      border: 2px solid #99DAFD;
    }
    &.open {
      min-height: 90px;
    }
    &.closed {
      min-height: 40px;
      margin: 0;
    }
  }

  ::placeholder {
    color: #C3C3C3;
  }

  button {
    &.closed {
      display: none;
    }
  }
}
