@import "PostMessage";
@import "PostDeleteModal";

#post-list {
  .post-item {
    font-size: 14px;
    text-align: left;
    color: $black;
    border-bottom: 1px solid #E3E3E3;
    white-space: pre-wrap;
    padding: 10px;
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
    
    &:first-child {
      border-top: 1px solid #E3E3E3;
    }
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background-color: #F8F8F8;
    }
    a {
      .name {
        font-weight: bold;

      }
      .username {
        color: #6C6C6C;
        padding-left: 5px;
      }
      &:hover {
        .name {
          color: $secondary-color;
          text-decoration: underline;
        }
      }
    }
    .time {
      color: #6C6C6C;
      padding-left: 5px;
    }
  }
}
