
#post-form {
  textarea {
    resize: none;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #99DAFD;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    margin-bottom: 6px;
    transition: 2s !important;

    &:focus {
      border: 2px solid #99DAFD;
    }
    &.open {
      height: 80px !important;
    }
    &.closed {
      height: 40px !important;
    }
  }

  ::placeholder {
    color: #C3C3C3;
  }

  button {
    font-size: 14px;
    width: 70px;
    height: 35px;
    background-color: $secondary-color;
    color: $white;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: none;

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
    &.closed {
      display: none;
    }
  }
}
