@import "main";
@import "modal";

input {
  width: 100%;
  display: block;
  border: 1px solid $primary-color;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;
}


.signup-page {
  background-color: $tertiary-color;
  height: 100vh;
  width: 100vw;
  min-width: 390px;
  .top-bar {
    height: 47px;
    background-color: $secondary-color;
    background-image: linear-gradient(to right, #39AEF1, #00D38D);
    border-bottom: 1px solid #1794a2;
    color: $tertiary-color;
    display: flex;
    line-height: 47px;
    font-size: 14px;
    position: relative;
    .brand-icon {
      height: 30px;
      width: 30px;
      position: absolute;
      left: 50%;
    }
    .modal-btn {
      position: absolute;
      right: 0%;
      padding-right: 20px;
    }
    .modal {
      width: 260px;
      height: 300px;
    }
  }
  .signup {
    padding: 100px 0;
    height: 490px;
    width: 390px;
    margin: auto;
    color: black;
    div {
      font-size: 27px;
      font-weight: bold;
      margin-bottom: 27px;
    }
    form {
      input {
        font-size: 18px;
        font-weight: bold;
        padding: 12px;
        margin-bottom: 26px;
      }
      ::placeholder {
        color: #C3C3C3;
      }
      button {
        cursor: pointer;
        text-align: center;
        outline: none;
        border: none;
        background-color: $secondary-color;
        color: $tertiary-color;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        padding: 12px;
        width: 100%;
        border-radius: 100px;
      }
    }
  }
}
