button {
  height: 35px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border: none;

  &.follow {
    margin: 12px 0;
    width: 100px;
    background-color: $white;
    color: $secondary-color;
    border: 1px solid $secondary-color;
    &:hover {
      background-color: #EBF4FB;
    }
  }
  &.unfollow {
    margin: 12px 0;
    width: 100px;
    background-color: #4AB3F4;
    color: $white;
    border: none;
    &:hover {
      background-color: $secondary-color;
    }
  }

  &.cancel {
    width: 80px;
    background-color: $white;
    color: $grey;
    border: 1px solid $grey;
    &:hover {
      background-color: #EAEAEA;
    }
    &:focus {
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ccd6dd;
    }
  }
  &.delete {
    width: 80px;
    background-color: #F14A4A;
    color: $white;
    border: none;
    &:hover {
      background-color: $error-color;
    }
  }

  &.meow {
    width: 70px;
    height: 32px;
    background-color: #4AB3F4;
    color: $white;
    border: none;

    &:hover {
      background-color: $secondary-color;
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  &.upload {
    width: 80px;
    background-color: #4AB3F4;
    color: $white;
    border: none;

    &:hover {
      background-color: $secondary-color;
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
}

#auth {
  button {
    width: auto;
    min-width: 75px;
    font-weight: bold;
    border-radius: 100px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin: 5px 0;
  }
  .blue-btn {
    border: none;
    background-color: $secondary-color;
    color: $white;
  }

  .white-btn {
    border: 1px solid $secondary-color;
    background-color: $white;
    color: $secondary-color;
  }
}

#landingPage {
  button {
    border-radius: 100px;
    text-align: center;
  }
}
