.dropdown {
  position: absolute;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.25);
  box-sizing: border-box;
  z-index: 1;
  color: #14171A;
  font-size: 14px;

  .link {
    cursor: pointer;
    &:hover {
      background-color: $secondary-color;
      color: white;
    }
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 5px 0;
  }
}
