#landingPage {
  $small-width: 355px;
  .header {
    background-color: $secondary-color;
    background-image: $logo-light-blue;
    background-repeat: no-repeat;
    background-position-x: 55vw;
    background-size: 512px;
    color: $white;
    height: auto;
    min-height: 175px;
    padding: 10px;

    div {
      display: flex;
      justify-content: space-between;

      .brand-icon {
        height: 40px;
        width: 40px;
        background-image: $logo-white;
        background-repeat: no-repeat;
        background-size: cover;
      }

      button {
        min-width: 70px;
        background-color: transparent;
        color: $white;
        border: 1px solid $white;
        margin: 5px;
      }
    }

    .page-title {
      font-size: 48px;
      font-weight: bold;
      justify-content: center;
    }
  }
  @media (max-width: $small-width) {
    .header {
      .brand-icon {
        height: 30px;
        width: 30px;
      }
      div {
        button {
          font-size: 12px;
          min-width: 55px;
        }
      }

      .page-title {
        font-size: 38px;
      }
    }
  }

  .page-content {
    padding: 30px 15px 70px;

    .container {
      margin: auto;
      width: 90%;

      .title {
        color: $black;
        padding: 10px;
        font-weight: bold;
      }

      .tiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .tile {
          background-color: $white;
          width: 280px;
          height: 338px;
          box-sizing: border-box;
          border-radius: 5px;
          margin: 5px;
          overflow: hidden;
          // box-shadow: 0px 0px 5px 1px #AAB8C2;
          border: 1px solid #C7C7C7;

          .post-data {
            padding: 10px;
            border-bottom: 1px solid #C7C7C7;

            .post {
              color: black;
              font-weight: bold;
              font-size: 14px;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              display: -webkit-box;
              margin-bottom: 5px;
            }

            .author {
              font-size: 12px;
              color: #66757F;
            }
          }

          .image {
            height: 285px;
            width: 100%;
            background-position-x: center;
            background-size: cover;
            background-repeat: no-repeat;
          }
        }

        .login {
          background-color: $secondary-color;
          color: $white;
          padding: 60px 20px;
          font-size: 21px;
          font-weight: bold;
          border-color: $secondary-color;

          input {
            line-height: 20px;
            font-size: 14px;
            display: block;
            margin-top: 12px;
            width: 100%;
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid $primary-color;
            box-sizing: border-box;
            outline: none;
            color: $white;
          }

          ::placeholder {
            color: $primary-color;
          }

          button {
            background-color: $white;
            color: $secondary-color;
            width: 100%;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .bottom-data {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: $white;
    border-top: 1px solid $primary-color;
    color: #AAB8C2;
    font-size: 12px;
  }
}
