$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primary-color: #E6ECF0;
$secondary-color: #1DA1F2;
$tertiary-color: #FFF;

html, body, div, span, a, button, link {
  margin: 0;
  padding: 0;
  border: 0;
  font: 100% $font-stack;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
}

body {
  background-color: $primary-color;
  color: $secondary-color;
}
