.user-image {
  background-color: #C9C8C8;
  background-image: $logo-grey;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  height: 35px;
  width: 35px;
  border-radius: 20px;
  display: inline-block;
  margin-right: 15px;
}
