@import "../main";
@import "Header";
@import "Form";

#auth {
  background-color: $tertiary-color;
  height: 100vh;
  width: 100vw;
  min-width: 390px;

  input {
    width: 100%;
    display: block;
    border: 1px solid $primary-color;
    border-radius: 3px;
    box-sizing: border-box;
    outline: none;
  }
}
